.MuiButton-containedPrimary {
    background: #002F82 !important;
    font-family: Montserrat;
    border-radius: 20px !important;
    border-top-left-radius: 0 !important;
    width: 327px !important;
    height: 64px !important;
}

.login__content {
    padding-top: 20px;
}